body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: darkcyan;
  }
  
  .container {
    margin: 50px auto;
    width: 400px;
    padding: 20px;
    background-color: goldenrod;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .soal {
    margin-top: 20px;
  }